.card.card-register {
  margin-top: 50px;
}

input-group,
.form-group {
  margin-bottom: 10px;
  position: relative;
}

.ajoutCard {
  background-color: #5e72e4 !important;
}

.cardTitle {
  color: aliceblue !important;
}

.centerForm {
  display: grid !important;
  place-items: center !important;
  /* width: 50%; */
}
